beautifulsoup4
google-api-core 
google-api-python-client
google-auth   
google-auth-httplib2 
gradio
gradio_client
huggingface-hub 
ipykernel
ipython
lancedb
llama-index 
llama-index-vector-stores-lancedb 
llama-index-embeddings-huggingface 
llama-index-llms-huggingface-api
llama-index-embeddings-openai
llama-index-llms-openrouter 
nltk 
numpy
pandas
openai
openai-whisper 
pydantic
sentence-transformers 
yt-dlp
spacy